WebApplication/Service References/ServiceReference/CustomerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService.ClassSerializer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService.ClassSerializer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCustomerSerializer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerSerializer" nillable="true" type="tns:CustomerSerializer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerSerializer" nillable="true" type="tns:ArrayOfCustomerSerializer" />
  <xs:complexType name="CustomerSerializer">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="tns:CitySerializer" />
      <xs:element minOccurs="0" name="DocumentsType" nillable="true" type="tns:DocumentsTypeSerializer" />
      <xs:element minOccurs="0" name="birthdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="documentNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idCity" type="xs:int" />
      <xs:element minOccurs="0" name="idDocumentType" type="xs:int" />
      <xs:element minOccurs="0" name="movilNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerSerializer" nillable="true" type="tns:CustomerSerializer" />
  <xs:complexType name="CitySerializer">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CitySerializer" nillable="true" type="tns:CitySerializer" />
  <xs:complexType name="DocumentsTypeSerializer">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentsTypeSerializer" nillable="true" type="tns:DocumentsTypeSerializer" />
</xs:schema>